# 의존성 및 패키지
node_modules/
jspm_packages/
web_modules/

# 로그 
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 환경 변수
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.test

# 빌드 결과물
dist/
build/
out/

# IDE 및 에디터 설정
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS 특성 파일
.DS_Store
Thumbs.db

# 테스팅 (Coverage 리포트 등)
coverage/
.nyc_output

# TypeScript 관련 (컴파일 히스토리)
*.tsbuildinfo

tree.txt
results/
docker-compose.test.yml
hi.json
k6/
result.txt
utc-time-unification-before-after.txt
*.txt